html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

.nav {
  position: relative;

  padding-top: 14px;
  min-height: 56px;

  font-weight: bold;
  line-height: 26px;

  background-color: white;
}

.logo {
  position: absolute;
  left: calc(50% - 69px);
  top: 0;
  z-index: 1;
}

.menu {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-item {
  width: 239px;
}

.menu-item:nth-child(3) {
  margin-left: auto;
}

.menu-item:first-child a,
.menu-item:nth-child(2) a {
  margin-left: 73px;
}

.menu-item:nth-child(3),
.menu-item:last-child {
  text-align: right;
}

.menu-item:nth-child(3) a,
.menu-item:last-child a {
  margin-right: 73px;
}

.menu a {
  color: #000000;
}

.menu a:not(.menu-active):hover,
.menu a:not(.menu-active):focus {
  color: #81b3d2;
}

.menu a:not(.menu-active):active {
  color: rgba(0, 0, 0, 0.3);
}

.menu .menu-active {
  color: #766357;
}

.promo {
  position: relative;

  width: 1200px;
  min-height: 508px;

  background-image: url('../img/index-welcome-fixed.jpg');
  background-repeat: no-repeat;
  background-color: #81b3d2;
  background-position: center -56px;
}

.promo::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 1200px;
  height: 57px;

  background-image: url('../img/index-canyonmask.png');
  background-repeat: no-repeat;
}

.sigths {
  margin-bottom: 50px;
}

.sigths-header {
  margin-top: 60px;

  text-align: center;
}

.sigths-header h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sigths-header p {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.sigths-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sigths-item {
  text-align: center;
}

.sigths-item-blue {
  display: flex;

  background-color: #81b3d2;
}

.sigths-item-blue.reverse {
  flex-direction: row-reverse;
}

.sigths-item .info {
  width: 400px;
  padding-left: 46px;
  padding-right: 46px;

  color: #ffffff;
}

.sigths-item h3 {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 23px;
  padding: 0 52px;

  font-size: 21px;
}

.sigths-item p {
  margin: 0;
  margin-bottom: 20px;
}

.sigths-item .wrapper-img {
  position: relative;

  min-height: 256px;
  width: 800px;
  overflow: hidden;
}

.sigths-item img {
  position: absolute;

  display: block;
  top: -77px;
}

.sigths-item.gray {
  width: 400px;
  min-height: 256px;
  padding-left: 69px;
  padding-right: 69px;

  background-color: #eeeeee;
}

.features-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 400px;
  min-height: 330px;
  padding-left: 47px;
  padding-right: 47px;

  text-align: center;
}

.features-item h3 {
  position: relative;
  margin: 0;
  padding-top: 161px;
  margin-bottom: 24px;
}

.features-item h3::before {
  content: '';

  position: absolute;

  width: 75px;
  height: 75px;
}

.features-item:first-child h3::before {
  top: 60px;
  left: 115px;

  background-image: url('../img/index-house.svg');
  background-repeat: no-repeat;
}

.features-item:nth-child(2) h3::before {
  top: 61px;
  left: 114px;

  background-image: url('../img/index-fod.svg');
  background-repeat: no-repeat;
}

.features-item:last-child h3::before {
  top: 56px;
  left: 121px;

  background-image: url('../img/index-suvenir.svg');
  background-repeat: no-repeat;
}

.search {
  position: relative;

  text-align: center;
}

.search h2 {
  margin: 0px;
  margin-bottom: 24px;
  padding: 0px;

  font-size: 30px;
  line-height: 36px;
}

.search p {
  margin: 0px;
  margin-bottom: 45px;
  padding: 0px;

  line-height: 24px;
}

.searh-button {
  width: 568px;
  padding-top: 31px ;
  padding-bottom: 31px;

  font-size: 21px;
  line-height: 26px;
}

.button-brown {
  text-transform: inherit;
  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form {
  position: absolute;
  left: calc(50% - 284px);

  width: 568px;
  margin: 0 auto;
  padding-top: 54px;

  background-color: #ffffff;
}

.search-form fieldset {
  margin: 0 auto;
  padding: 0;
  width: 458px;

  border: none;
}

.search-form,
.search-form input {
  text-transform: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-item {
  position: relative;

  display: flex;
  align-items: baseline;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.search-item:not(:last-of-type) label {
  margin-right: auto;
}

.search-form input  {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-item.date input {
  width: 346px;
  min-height: 38px;
  padding-left: 11px;
  padding-right: 30px;
}

.calendar-button {
  position: absolute;
  right: 9px;
  top: 8px;

  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
}

.calendar-button:hover svg,
.calendar-button:focus svg {
  fill: #000000;
}

.calendar-button:active svg {
  fill: #81b3d2;
}

.search-item.persons input {
  width: 40px;
  min-height: 38px;
  margin-right: -4px;
  margin-left: -4px;

  text-align: center;
}

.search-adult,
.search-children {
  display: flex;
  vertical-align: baseline;
}

.search-adult {
  width: 224px;
  margin-right: auto;
}

.search-adult label,
.search-children label {
  margin-right: auto;
  margin-top: 7px;
}

.search-children {
  width: 178px;
}

.person-minus,
.person-plus {
  position: relative;

  width: 40px;
  height: 38px;
  display: block;

  vertical-align: bottom;
  font-weight: bold;
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;

  cursor: pointer;
}

.person-minus::before,
.person-plus::before,
.person-plus::after {
  content: "";

  position: absolute;
  top: 19px;
  left: 14px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.person-plus::after {
  transform: rotate(90deg);
}

.person-minus:hover::before,
.person-minus:focus::before,
.person-plus:hover::before,
.person-plus:hover::after,
.person-plus:focus::before,
.person-plus:focus::after {
  background-color: #000000;
}

.person-minus:active::before,
.person-plus:active::before,
 .person-plus:active::after {
  background-color: #81b3d2;
}

.find-button {
  display: block;

  width: 100%;
  margin: 55px 0;
  padding: 16px 0;


  font-size: 21px;
  line-height: 26px;
}

.button-blue {
  text-transform: inherit;
  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map-img {
  display: block;
}

.map-google {
  display: block;
  border: 0;
}

.filtres {
  padding-top: 28px;
  padding-bottom: 10px;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url('../img/hotels-filter-background.jpg');
  background-position: 0 -55px;
  background-repeat: no-repeat;
}

.filtres-form {
  display: flex;

  padding-left: 73px;
  padding-right: 73px;
}

.filtres fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filtres .infrastructure {
  margin-right: 118px;
}

.filtres legend {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: bold;
}

.filtres ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filtres-option {
  margin-bottom: 24px;
}

.filtres-option  label {
  position: relative;
}

.checkbox-indicator {
  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url('../img/hotels-checkbox-off.svg');
  background-repeat: no-repeat;
}

.filtres-option input[type="checkbox"]:checked + .checkbox-indicator  {
  background-image: url('../img/hotels-checkbox-on.svg');
}

.filtres-option input[type="checkbox"]:focus + .checkbox-indicator  {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filtres-option input[type="checkbox"]:disabled + .checkbox-indicator  {
  background-image: url('../img/hotels-checkbox-off-disabled.svg');
}

.filtres-option input[type="checkbox"]:checked:disabled + .checkbox-indicator  {
  background-image: url('../img/hotels-checkbox-on-disabled.svg');
}

.filtres-option label {
  padding-left: 40px;
  cursor: pointer;
}

.cost-container {
  box-sizing: content-box;
  margin-left: auto;
}

.filter-range {
  width: 317px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  height: 30px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;

  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 87px;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000000;

  background-color: #ffffff;
}

.wrap-hotels {
  padding-left: 73px;
  padding-right: 73px;
}

.sorting {
  display: flex;
  align-items: baseline;

  min-height: 86px;
  padding-top: 28px;
  padding-left: 73px;
  padding-right: 73px;

  border-bottom: 1px solid #e5e5e5;
}

.sorting .title {
  margin-right: 34px;
  min-width: 130px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting p {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting .type {
  margin-right: 39px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-item {
  max-width: 76px;
  margin-right: 33px;
  padding: 0;
}

.sorting-button {
  padding: 0;

  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  background: none;
  border: none;
  border-bottom: 1px dotted #81b3d2;

  cursor: pointer;
}

.sorting-button:hover,
.sorting-button:focus {
  color: #81b3d2;
}

.sorting-button:active {
  color: #000000;

  border: 1px dashed transparent;
}

.sorting-button.active {
  color: #81b3d2;

  border: none;
}

.sorting-arrow {
  position: relative;

  margin-left: auto;
  min-width: 35px;
  height: 16px;
}

.arrow-button {
  position: absolute;
  bottom: 0;

  padding: 0px;

  background: none;
  border: 1px solid #cacaca;
  border-left-width: 6px;
  border-left-color: transparent;
  border-right-width: 6px;
  border-right-color: transparent;

  cursor: pointer;
}

.arrow-up {
  left: 0;

  border-top-width: 0px;
  border-bottom-width: 11px;
}

.arrow-down {
  right: 0;

  border-top-width: 11px;
  border-bottom-width: 0px;
}

.arrow-button:hover,
.arrow-button:focus {
  border-bottom-color: #000000;
  border-top-color: #000000;
}

.arrow-button:active {
  border-bottom-color: #81b3d2;
  border-top-color: #81b3d2;
}

.arrow-button.arrow-active {
  border-bottom-color: #81b3d2;
  border-top-color: #81b3d2;
}


.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  display: flex;

  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;

  border-bottom: 1px solid #e5e5e5;
}

.hotels-item img {
  margin-top: 5px;
  margin-right: 30px;
}

.hotels-info {
  max-width: 50%;
}

.hotels-info h3 {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}

.hotels-info .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotels-info .hotel-name:hover,
.hotels-info .hotel-name:focus {
  color: #81b3d2;
}

.hotels-info .hotel-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.hotels-info-wrap {
  display: flex;
  align-items: baseline;
}

.hotels-info-left {
  width: 116px;
}

.hotels-info-right {
  width: 157px;
}

.hotels-button {
  display: block;
  padding: 3px 16px;
  margin-right: 6px;
  margin-top: 14px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: baseline;
}

.hotels-item .ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin-left: auto;
}

.hotels-item .ratings-stars {
  display: block;
  min-height: 18px;
  margin-top: 4px;

  background-image: url('../img/hotels-star.svg');
  background-repeat: space;
}

.four-stars {
  min-width: 89px;
}

.three-stars {
  min-width: 66px;
}

.two-stars {
  min-width: 42px;
}

.hotels-item .ratings-visitor {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 14px;
  padding-right: 12px;

  background-color: #f2f2f2;
}

.main-footer {
  display: flex;

  position: relative;

  min-height: 120px;
  margin-top: -120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hotels {
  margin-top: 0;
}

.footer-item {
  width: 400px;
  margin: 0;
  padding: 0;

  text-align: center;
  vertical-align: middle;
}

.footer-item.heshtag {
  padding-top: 44px;
}

.footer-item.social {
  padding-top: 36px;
}

.footer-item.copyright {
  padding-top: 40px;
}

.main-footer .heshtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-footer .hechtag-center {
  vertical-align: middle;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 151px;
  margin: auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  margin-bottom: 5px;
}

.social-button:active path {
  fill: #88b6d1;
}

.main-footer .copyright {
  line-height: 26px;
  color: #000000;
}

.copyright span {
  margin-right: 4px;
}

.copyright a {
  display: inline-block;
  vertical-align: middle;

  width: 115px;
  height: 41px;
}

.copyright-icon:hover path,
.copyright-icon:focus path,
.copyright-icon:hover rect,
.copyright-icon:focus rect {
  fill: #81b3d2;
}

.copyright-icon:active path,
.copyright-icon:active rect {
  fill: #bdbbbc;
}

@keyframes exit {
  0% {transform: translateX(0px);}
  70% {transform: translateX(-10px);}
  90% {transform: translateX(30px);}
  100% {transform: translateX(-2000px);}
}

.modal-close {
  animation-name: exit;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
